* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header, main, footer {
  font-family: Arial、Helvetica、sans-serif;
}
header {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  text-align: center;
}
header .heading a {
  color: #fff;
}
header .heading {
  font-size: 32px;
  padding-top: 10px;
}
.heading a {
  text-decoration: none;
}
.nav-list {
  padding: 10px 0;
}
.nav-list-item {
  color: #fff;
  display: inline-block;
  margin: 0 20px;
}
.nav-list-item a {
  text-decoration: none;
  color: #38b48b;
}

main {
  padding: 10px 40px 40px 40px;
  background-color: #ecfcdf;
}
.main-heading {
  text-align: center;
  padding-bottom: 10px;
}
.yoko-image-box {
  width: 30%;
  margin-right: 10px;
  border-radius: 10px;
}
.yoko-image {
  border-radius: 10px;
  width: 100%;
}
.main-box {
  display: flex;
}
.self-introduction {
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  padding: 0 10px;
  line-height: 40px;
}
.self-label {
  font-weight: bold;
  width: 15%;
}
.self-text {
  width: 85%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.row i {
  display: inline-block;
  flex-wrap: wrap;
  margin: 0 20px 20px 0;
}
body {
  background-color: #ecfcdf;
}
footer {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.footer-text {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .nav-list {
    width: 100%;
  }
  .nav-list-item {
    color: #fff;
    display: block;
    margin: 0 20px;
  }
  .yoko-image-box {
    width: 100%;
  }
  .self-introduction {
    width: 100%;
  }
  .main-box {
    display: block;
  }
  footer {
    position: relative;
  }
}